name: test
on: 
  push:
    branches:
      - v3
  pull_request:
    branches:
      - v3

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.21', '1.22']
    name: Linux Go ${{ matrix.go }}
    steps:
    - uses: actions/checkout@v4
    - name: Setup go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}
    - name: Test
      run: go test -v ./...
    - name: Staticcheck
      run: go run honnef.co/go/tools/cmd/staticcheck@2023.1.7 ./...
